nav {
    #save-product-btn {
        margin-right: 20px;
        background-color: $lightBlue;
        padding-inline: 20px;

        &:hover {
            transition: all .7s ease;
            background-color: rgb(11, 199, 190);
        }
    }

    #cencel-btn {
        background-color: $red;

        &:hover {
            transition: all .7s ease;
            background-color: rgb(180, 1, 1);
        }
    }
}

#product_form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 300px;
    border-radius: 10px;
    font-weight: 400;
    min-height: calc(100vh - 100px - 170px);
    margin-bottom: 50px;

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;
    }

    input {
        width: 180px;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid black;
    }

    input::placeholder {
        color: transparent;
    }

    input:focus::placeholder {
        color: initial;
    }

    input:focus {
        outline: red;
    }
}

#productType {
    margin-left: 12px;
    font-size: 15px;
    border-radius: 3px;
}

#productType:focus {
    outline: none;
}

.book {
    display: flex;
    justify-content: space-between;
}

.Book-container {
    flex-direction: column;
}

.disc {
    display: flex;
    justify-content: space-between;
}

.DVD-container {
    flex-direction: column;
}

.choice {
    margin-bottom: 50px;
}

#type {
    margin-left: 26px;
}

.Furniture-container {
    display: flex;
    flex-direction: column;
}

.Furniture-container div {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}